In [1]:
import pandas as pd
import numpy as np

In [2]:
first = pd.read_csv('./DBS_Nekita/netflix_titles.csv')

In [5]:
first.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...

In [44]:
film = pd.DataFrame()

In [45]:
def random_data(a,b):
    return f'{np.random.randint(1,28)}-{np.random.randint(1,13)}-{np.random.randint(a,b)}'

In [46]:
def conv_time(x):
    ar = x.split('-')
    ret = ''
    if int(ar[0])>9:
        ret = ret+ar[0]
    else:
        ret = ret+'0'+ar[0]
    ret = '-'+ret
    if int(ar[1])>9:
        ret = ar[1]+ret
    else:
        ret = '0'+ar[1]+ret
    return ar[2]+'-'+ret

In [47]:
film = pd.DataFrame()
film['rate'] = np.random.randint(0,11,2000)
film['Категория'] = first['type'][:2000]
film['Название'] = first['title'][:2000]
film['Описание'] = first['description'][:2000]
film['limit'] = [np.random.choice([0,6,12,16,18]) for i in range(2000)]

In [48]:
film['дата'] = first['release_year'].apply(lambda x: conv_time(random_data(x,x+1)))[:2000]

In [49]:
film['country'] = first['country'].fillna('United States')[:2000]

In [50]:
film['trailer'] = first['title'].apply(lambda x: x + '(trailer)')[:2000]

In [51]:
film

,rate,Категория,Название,Описание,limit,дата,country,trailer
0,4,Movie,Dick Johnson Is Dead,"As her father nears the end of his life, filmm...",12,2020-04-12,United States,Dick Johnson Is Dead(trailer)
1,0,TV Show,Blood & Water,"After crossing paths at a party, a Cape Town t...",12,2021-11-20,South Africa,Blood & Water(trailer)
2,7,TV Show,Ganglands,To protect his family from a powerful drug lor...,6,2021-12-05,United States,Ganglands(trailer)
3,8,TV Show,Jailbirds New Orleans,"Feuds, flirtations and toilet talk go down amo...",12,2021-05-09,United States,Jailbirds New Orleans(trailer)
4,7,TV Show,Kota Factory,In a city of coaching centers known to train I...,18,2021-12-21,India,Kota Factory(trailer)
...,...,...,...,...,...,...,...,...
1995,3,Movie,The Devil All The Time,Sinister characters converge around a young ma...,12,2020-09-27,United States,The Devil All The Time(trailer)
1996,5,Movie,The Paramedic,Unable to face his new reality in a wheelchair...,12,2020-11-03,Spain,The Paramedic(trailer)
1997,3,Movie,The Take,"After a mix-up lands him in hot water, a skill...",6,2016-04-21,"United Kingdom, France, United States, Belgium...",The Take(trailer)
1998,1,TV Show,Call the Midwife,This period drama set in impoverished East Lon...,16,2020-03-19,United Kingdom,Call the Midwife(trailer)
1999,9,Movie,Hope Frozen: A Quest to Live Twice,A Thai scientist and his family decide to cryo...,16,2020-12-06,"Thailand, United States",Hope Frozen: A Quest to Live Twice(trailer)

In [31]:
credit = pd.read_csv('./DBS_Nekita/credits.csv')

In [34]:
credit[credit['role'] == 'ACTOR']

,person_id,id,name,character,role
0,3748,tm84618,Robert De Niro,Travis Bickle,ACTOR
1,14658,tm84618,Jodie Foster,Iris Steensma,ACTOR
2,7064,tm84618,Albert Brooks,Tom,ACTOR
3,3739,tm84618,Harvey Keitel,Matthew 'Sport' Higgins,ACTOR
4,48933,tm84618,Cybill Shepherd,Betsy,ACTOR
...,...,...,...,...,...
77795,368473,tm1059008,Aída Morales,Maritza,ACTOR
77796,736339,tm1059008,Adelaida Buscato,María Paz,ACTOR
77797,399499,tm1059008,Luz Stella Luengas,Karen Bayona,ACTOR
77798,373198,tm1059008,Inés Prieto,Fanny,ACTOR
77799,378132,tm1059008,Isabel Gaona,Cacica,ACTOR

In [35]:
actor = pd.DataFrame()
actor_per = pd.DataFrame()

In [36]:
actor['name'] = credit[credit['role'] == 'ACTOR']['name'][:2000].values

/var/folders/4c/gl255b9x76z020j9qvyqkbc00000gn/T/ipykernel_16632/2196108768.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  actor['name'] = credit[credit['role'] == 'ACTOR']['name'][:2000].values

In [38]:
actor_per['mov_id'] = np.random.randint(0,2000,5000)
actor_per['act_id'] = np.random.randint(0,2000,5000)

In [52]:
film.drop(['Категория'],axis = 1,inplace = True)
film.to_csv('./DBS_Nekita/film.csv')

In [54]:
actor.to_csv('./DBS_Nekita/actor.csv')

In [56]:
actor_per.to_csv('./DBS_Nekita/acting.csv')

In [58]:
awa = ['The Academy Award','Cannes Film Festival','Venice Film Festival','Berlin Film Festival','golden globe award','BAFTA','Cesar award','Sundance','rotterdam Film Festival']

In [60]:
director = pd.DataFrame()
director['name'] = credit[credit['role'] == 'DIRECTOR']['name'][:500].values

/var/folders/4c/gl255b9x76z020j9qvyqkbc00000gn/T/ipykernel_16632/4203525993.py:2: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  director['name'] = credit[credit['role'] == 'DIRECTOR']['name'][:500].values

In [61]:
director

                  name
0      Martin Scorsese
1         John Boorman
2          Terry Jones
3        Terry Gilliam
4       Robert Aldrich
..                 ...
495       David Dhawan
496    Ming Zhang Chen
497     Chun Chieh Liu
498  Everardo González
499      Shyam Benegal

[500 rows x 1 columns]

In [63]:
create1 = pd.DataFrame()
create1['prod_id'] = np.random.randint(0,500,3500)
create1['mov_id'] = np.random.randint(0,2000,3500)

In [64]:
create1

      prod_id  mov_id
0          19    1496
1         485     137
2         117     677
3         297    1172
4         188    1046
...       ...     ...
3495       45    1597
3496      319     393
3497      418     907
3498       84     990
3499      204      71

[3500 rows x 2 columns]

In [65]:
director_awards = pd.DataFrame()

In [66]:
director_awards['name'] = awa

In [67]:
director_awards

                      name
0        The Academy Award
1     Cannes Film Festival
2     Venice Film Festival
3     Berlin Film Festival
4       golden globe award
5                    BAFTA
6              Cesar award
7                 Sundance
8  rotterdam Film Festival

In [70]:
conv_time(random_data(1970,2022))

'1996-11-03'

In [71]:
having = pd.DataFrame()
having['Data'] =  [conv_time(random_data(1970,2022)) for i in range(1000)]
having['prod_id'] = np.random.randint(0,500,1000)
having['awa_id'] = np.random.randint(0,9,1000)

In [76]:
director.to_csv('./DBS_Nekita/director.csv')
having.to_csv('./DBS_Nekita/having.csv')
director_awards.to_csv('./DBS_Nekita/d_awards.csv')
create1.to_csv('./DBS_Nekita/create1.csv')

In [75]:
create1

      prod_id  mov_id
0          19    1496
1         485     137
2         117     677
3         297    1172
4         188    1046
...       ...     ...
3495       45    1597
3496      319     393
3497      418     907
3498       84     990
3499      204      71

[3500 rows x 2 columns]

In [90]:
qw = dict({'Movie':0,"TV Show":1})
first['type'][:2000].apply(lambda x:qw[x])

category = pd.DataFrame()
category['c_name'] = ['Movie','TV Show']
category['c_id'] = [0,1]
category.to_csv('./DBS_Nekita/categ.csv',index = False)

related2 = pd.DataFrame()
related2['c_id'] = first['type'][:2000].apply(lambda x:qw[x])
related2['mov_id'] = list(range(2000))

In [92]:
related2.to_csv('./DBS_Nekita/related2.csv')

In [94]:
comp = ['Warner Bros', 'Paramount','Sony Pictures','Universal','Fox','Disney','HBO','Lionsgate Films','The Weinstein Company','Metro-Goldwyn-Mayer Studios','DreamWorks']

In [95]:
componies = pd.DataFrame()
componies['name'] = comp

In [98]:
componies['id_comp'] = list(range(11))

In [101]:
create2 = pd.DataFrame()
create2['pc_id'] = np.random.randint(0,11,2000)
create2['mov_id'] = list(range(2000))

In [102]:
componies.to_csv('./DBS_Nekita/componies.csv',index = False)
create2.to_csv('./DBS_Nekita/create2.csv')

In [105]:
big = ''
for i in range(200):
    big = big + first['listed_in'].values[i]

In [110]:
genre = pd.DataFrame()
genre['name'] = (big.split(','))

In [112]:
genre['id_genre'] = list(range(238))

In [114]:
related1 = pd.DataFrame()
related1['g_id'] = np.random.randint(0,238,4000)
related1['mov_id'] = np.random.randint(0,2000,4000)

In [116]:
related1.to_csv('./DBS_Nekita/related1.csv')
genre.to_csv('./DBS_Nekita/genre.csv',index = False)

In [118]:
from mimesis import Person,Address
person = Person('en')
adr = Address('en')
person.full_name() #+ ' '+ person.last_name(gender = 'male')

'Shayne Hancock'

In [191]:
user = pd.DataFrame()
user

Empty DataFrame
Columns: []
Index: []

In [192]:
pas = []
logs = []
coun = []
for i in range(2000):
    a = person.email()
    pas.append(a[:a.find('@')])
    
    a = person.email()
    logs.append(a[:a.find('@')])
    
    coun.append(first['country'].fillna('United States').values[i])

In [193]:
user['pas'] = pas
user['logs'] = np.random.randint(3000,10000,2000)
user['coun'] = coun
user['cur_id'] = np.random.randint(0,10,2000)

In [194]:
user.to_csv('./DBS_Nekita/user2.csv')

In [138]:
currency = pd.DataFrame()
currency['name'] =  ['USDT','BYN','RUB','EUR','INR','KZT','CHF','CZK','NOK','ZAR']

In [182]:
currency.to_csv('./DBS_Nekita/currency.csv')

In [143]:
rate_review = pd.DataFrame()
rate_review['rate'] = np.random.randint(0,11,2000)
rate_review['rev_id'] = np.random.randint(0,2000,2000)
rate_review['user_id'] = np.random.randint(0,2000,2000)
rate_review.to_csv('./DBS_Nekita/rate_review.csv')

In [144]:
review = pd.DataFrame()
review['summary'] = imdb['review'][:2000]
review['intr'] = np.random.randint(0,11,2000)
review['rev_id'] = list(range(2000))
review['date'] = [conv_time(random_data(2010,2023)) for i in range(2000)]
review['mov_id'] = np.random.randint(0,2000,2000)
review['login'] = np.random.randint(0,2000,2000)
review.to_csv('./DBS_Nekita/review_sum.csv',index = False)

In [141]:
imdb = pd.read_csv('./DBS_Nekita/IMDB Dataset.csv')

In [142]:
imdb

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [146]:
videores = pd.DataFrame() 
videores['name'] = ['144','240','360','720','1080','4k','8k']
videores.to_csv('./DBS_Nekita/Videores.csv')

In [148]:
play = pd.DataFrame()
play['vidres'] = np.random.randint(0,7,2000)
play['mov_id'] = np.random.randint(0,2000,2000)
play.to_csv('./DBS_Nekita/play.csv')

In [149]:
watch = pd.DataFrame()
watch['viewed'] = [np.random.choice(['t','f']) for i in range(2000)]
watch['id'] = list(range(2000))
watch['uid'] = np.random.randint(0,2000,2000)
watch['mid'] = np.random.randint(0,2000,2000)
watch.to_csv('./DBS_Nekita/watch.csv',index = False)

In [152]:
first['country'].fillna('United States')[:2000] + '  language'

0                                 United States  language
1                                  South Africa  language
2                                 United States  language
3                                 United States  language
4                                         India  language
                              ...
1995                              United States  language
1996                                      Spain  language
1997    United Kingdom, France, United States, Belgium...
1998                             United Kingdom  language
1999                    Thailand, United States  language
Name: country, Length: 2000, dtype: object

In [171]:
language = pd.DataFrame()
language['name'] = lang
language['id']  = list(range(154))
language['name'] = language['name']+'  languge'
language[1:].to_csv('./DBS_Nekita/lang.csv',index = False)

In [175]:
addd = pd.DataFrame()
lis = []
for i in range(2000):
    
    a = person.email()
    lis.append(a[:a.find('@')])
addd['lis'] = lis
addd['mov_id'] = np.random.randint(0,2000,2000)
addd['use_id'] = np.random.randint(0,2000,2000)
language[1:].to_csv('./DBS_Nekita/add.csv')

In [176]:
use = pd.DataFrame()
use['useid'] = np.random.randint(0,2000,2000)
use['langid'] = np.random.randint(1,154,2000)

In [177]:
use.to_csv('./DBS_Nekita/use.csv')

In [195]:
sub = pd.DataFrame()
sub['sub_last'] = [conv_time(random_data(2019,2022))+ ' 00:00:00+03' for i in range(2000)]
sub['sub_name'] = [np.random.choice(['y','h','m']) for i in range(2000)]

In [196]:
sub.to_csv('./DBS_Nekita/sub.csv')

In [197]:
incude = pd.DataFrame()
incude['sub_id'] = np.random.randint(0,2000,2000)
incude['mov_id'] = np.random.randint(0,2000,2000)

In [199]:
incude.to_csv('./DBS_Nekita/incude.csv')

In [209]:
get = pd.DataFrame()
get['start'] = [conv_time(random_data(2020,2021)) for i in range(2000)]
get['way'] = [np.random.choice(['y','c','m','hy','cd','og']) for i in range(2000)]
get['auto'] = [np.random.choice(['t','f']) for i in range(2000)]
get['end'] = [conv_time(random_data(2021,2022)) for i in range(2000)]
get['sub_id1'] = list(range(2000))
get['sub_id2'] = np.random.randint(0,2000,2000)
get['sub_id3'] = np.random.randint(0,2000,2000)

In [210]:
get.to_csv('./DBS_Nekita/get.csv',index = False)

In [214]:
chos = pd.DataFrame()
chos['cho'] = [np.random.choice(list(range(10,100,10))) for i in range(2000)]
chos['sub_id1'] = np.random.randint(0,7,2000)
chos['sub_id2'] = np.random.randint(0,2000,2000)

In [215]:
chos.to_csv('./DBS_Nekita/chos.csv')