In [2]:
import pandas as pd
import numpy as np

In [3]:
c1 = pd.read_csv('autoscout24-germany-dataset.csv')
c2 = pd.read_csv('USA_cars_datasets.csv')

In [4]:
c1

,mileage,make,model,fuel,gear,offerType,price,hp,year
0,235000,BMW,316,Diesel,Manual,Used,6800,116.0,2011
1,92800,Volkswagen,Golf,Gasoline,Manual,Used,6877,122.0,2011
2,149300,SEAT,Exeo,Gasoline,Manual,Used,6900,160.0,2011
3,96200,Renault,Megane,Gasoline,Manual,Used,6950,110.0,2011
4,156000,Peugeot,308,Gasoline,Manual,Used,6950,156.0,2011
...,...,...,...,...,...,...,...,...,...
46400,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021
46401,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021
46402,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021
46403,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021
46404,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021

In [5]:
c2

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494,2494,7800,nissan,versa,2019,clean vehicle,23609.0,red,3n1cn7ap9kl880319,167722715,california,usa,1 days left
2495,2495,9200,nissan,versa,2018,clean vehicle,34553.0,silver,3n1cn7ap5jl884088,167762225,florida,usa,21 hours left
2496,2496,9200,nissan,versa,2018,clean vehicle,31594.0,silver,3n1cn7ap9jl884191,167762226,florida,usa,21 hours left
2497,2497,9200,nissan,versa,2018,clean vehicle,32557.0,black,3n1cn7ap3jl883263,167762227,florida,usa,2 days left
2498,2498,9200,nissan,versa,2018,clean vehicle,31371.0,silver,3n1cn7ap4jl884311,167762228,florida,usa,21 hours left

In [3]:
import random #random.sample(range(0, 10), 10)
np.random.randint(1,5,50)

array([2, 2, 1, 4, 4, 4, 4, 4, 3, 3, 2, 1, 4, 2, 2, 2, 2, 3, 3, 2, 3, 1,
       1, 4, 4, 1, 4, 2, 1, 4, 1, 2, 1, 1, 1, 2, 1, 3, 2, 3, 3, 2, 3, 2,
       4, 2, 1, 2, 2, 3])

In [4]:
ui = c1[['make','model']].drop_duplicates().index

In [5]:
make_model = c1.iloc[ui,:][['make','model','hp','year']].reset_index()

In [6]:
make_model['generation'] = np.random.randint(1,4,884)

In [7]:
awards = pd.DataFrame()

In [8]:
awards['Пользователь'] = np.random.randint(1,885,2000)

In [9]:
awards['Оценка'] = np.random.randint(0,6,2000)

In [6]:
all_review = pd.DataFrame()
mark = ['ford','kia','nissan','volvo','hyundai']
for x in mark:
    dd = pd.read_csv(f'Scraped_Car_Review_{x}.csv',engine='python',index_col=False)
    all_review = pd.concat([all_review,dd])

In [7]:
dd

,Unnamed: 0,Review_Date,Author_Name,Vehicle_Title,Review_Title,Review,Rating
0,0,on 03/28/18 20:22 PM (PDT),Kiowa1@gmail.com,2006 Hyundai Azera Sedan Limited 4dr Sedan (3....,Excellent Value,I bought the 2006 Azera Limited in June of 20...,4.000
1,1,on 05/02/17 18:03 PM (PDT),SiGung,2006 Hyundai Azera Sedan Limited 4dr Sedan (3....,Don't even waste your time looking much less b...,Electrical nightmare. Dealer cost for repair...,1.000
2,2,on 05/02/17 18:03 PM (PDT),SiGung,2006 Hyundai Azera Sedan Limited 4dr Sedan (3....,Great car,"Great car, great ride, would have better mile...",5.000
3,3,on 03/27/17 14:49 PM (PDT),Kevin Gibson,2006 Hyundai Azera Sedan Limited 4dr Sedan (3....,Best car ever,I absolutly love my Azera. The performance is...,5.000
4,4,on 01/10/17 10:22 AM (PST),Nick Casper,2006 Hyundai Azera Sedan Limited 4dr Sedan (3....,Good value for luxury,We have had our 2006 Azera from nearly new (3...,4.000
...,...,...,...,...,...,...,...
9356,8221,on 07/29/08 14:26 PM (PDT),Gopi,2008 Hyundai Veracruz SUV Limited 4dr SUV AWD ...,Excellent SUV,Excellent SUV. We went on road trip a week af...,5.000
9357,8222,on 07/13/08 15:33 PM (PDT),srr3306,2008 Hyundai Veracruz SUV Limited 4dr SUV (3.8...,Tremendous Value,I traded an Infiniti FX for this car. As a re...,4.375
9358,8223,on 06/28/08 15:53 PM (PDT),Robert Nell,2008 Hyundai Veracruz SUV Limited 4dr SUV (3.8...,Own A Lexus rx 330 But Hyundai Veracruz,I got my Veracruz in early April in Florida.I...,4.625
9359,8224,on 06/16/08 16:03 PM (PDT),Kelly Collier,2008 Hyundai Veracruz SUV Limited 4dr SUV (3.8...,Great!,We love this vehicle. We have owned Subarus a...,4.875
9360,8225,on 05/22/08 13:33 PM (PDT),mike,2008 Hyundai Veracruz SUV SE 4dr SUV (3.8L 6cy...,Good Car for less money,Seems like a good vehicle. We have driven jus...,4.875

In [11]:
all_review['Плюс или Минус']  = all_review['Rating']>3

In [12]:
review = all_review[['Плюс или Минус']]
review['Название'] = all_review['Review']
review = review[::6].reset_index()

/var/folders/4c/gl255b9x76z020j9qvyqkbc00000gn/T/ipykernel_6539/2980285318.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  review['Название'] = all_review['Review']

In [13]:
np.array(range(30,200))/10

array([ 3. ,  3.1,  3.2,  3.3,  3.4,  3.5,  3.6,  3.7,  3.8,  3.9,  4. ,
        4.1,  4.2,  4.3,  4.4,  4.5,  4.6,  4.7,  4.8,  4.9,  5. ,  5.1,
        5.2,  5.3,  5.4,  5.5,  5.6,  5.7,  5.8,  5.9,  6. ,  6.1,  6.2,
        6.3,  6.4,  6.5,  6.6,  6.7,  6.8,  6.9,  7. ,  7.1,  7.2,  7.3,
        7.4,  7.5,  7.6,  7.7,  7.8,  7.9,  8. ,  8.1,  8.2,  8.3,  8.4,
        8.5,  8.6,  8.7,  8.8,  8.9,  9. ,  9.1,  9.2,  9.3,  9.4,  9.5,
        9.6,  9.7,  9.8,  9.9, 10. , 10.1, 10.2, 10.3, 10.4, 10.5, 10.6,
       10.7, 10.8, 10.9, 11. , 11.1, 11.2, 11.3, 11.4, 11.5, 11.6, 11.7,
       11.8, 11.9, 12. , 12.1, 12.2, 12.3, 12.4, 12.5, 12.6, 12.7, 12.8,
       12.9, 13. , 13.1, 13.2, 13.3, 13.4, 13.5, 13.6, 13.7, 13.8, 13.9,
       14. , 14.1, 14.2, 14.3, 14.4, 14.5, 14.6, 14.7, 14.8, 14.9, 15. ,
       15.1, 15.2, 15.3, 15.4, 15.5, 15.6, 15.7, 15.8, 15.9, 16. , 16.1,
       16.2, 16.3, 16.4, 16.5, 16.6, 16.7, 16.8, 16.9, 17. , 17.1, 17.2,
       17.3, 17.4, 17.5, 17.6, 17.7, 17.8, 17.9, 18. , 18.1, 18.2, 18.3,
       18.4, 18.5, 18.6, 18.7, 18.8, 18.9, 19. , 19.1, 19.2, 19.3, 19.4,
       19.5, 19.6, 19.7, 19.8, 19.9])

In [14]:
razg = pd.DataFrame()
razg['Разгон'] = np.array(range(30,200))/10

In [15]:
god = pd.DataFrame()
god['Год выпуска'] = list(range(1950,2023))

In [16]:
rashod = pd.DataFrame()
rashod['Расход'] = np.array(range(1,300))/10

In [17]:
probeg = pd.DataFrame()
probeg['Пробег'] = np.random.randint(0,200000,5000)

In [18]:
vlad = pd.DataFrame()
vlad['Количество владельцев'] = list(range(15))

In [19]:
kuzov = pd.DataFrame()
kuzov['Тип кузова'] = ['Седан','Универсал','Хэтчбек','Лифтбек','Купе','Лимузин','Кабриолет','Внедорожник']

In [20]:
privod = pd.DataFrame()
privod['Тип привода'] = ['Прямой','Задний','Полный']

In [22]:
color = pd.DataFrame()
color['Цвет'] = c2['color'].unique()

In [23]:
dvig = pd.DataFrame()
dvig['Объем двигателя'] = np.array(range(2,100))/10
dvig['Тип Двигателя'] = [random.choice(['Бензин' ,'Дизель' ,'Гибрид']) for i in range(98)]

In [24]:
option = pd.DataFrame()
option['Название опции'] = ('Подогрев сидений, руля, лобового и заднего стекла, форсунок стеклоомывателя, боковых зеркал,Адаптивный круиз контроль,Система стабилизации курсовой устойчивости или динамической стабилизации ESP,Мультимедийная система,Парктроник, камера заднего вида,Электрорегулировка,Бесключевой доступ,LED-освещение,Климат контроль,другоу').split(',')

In [25]:
from mimesis import Person,Address
person = Person('ru')
adr = Address('ru')
person.full_name() #+ ' '+ person.last_name(gender = 'male')

'Макар Ильин'

In [26]:
np.random.randint(1,5,50)

array([4, 3, 2, 1, 3, 1, 4, 1, 1, 3, 2, 3, 2, 3, 3, 4, 1, 2, 3, 3, 2, 1,
       2, 4, 1, 4, 1, 3, 4, 2, 1, 2, 4, 1, 4, 4, 3, 1, 4, 3, 2, 2, 4, 3,
       4, 2, 2, 1, 4, 1])

In [27]:
pols = pd.DataFrame()

In [74]:
def random_data(a,b):
    return f'{np.random.randint(1,32)}.{np.random.randint(1,13)}.{np.random.randint(a,b)}'

In [29]:
pols['Телефон'] = [person.telephone() for i in range(2000)]
pols['Почта'] = [person.email() for i in range(2000)]
pols['Адрес'] = [adr.street_name() for i in range(2000)]
pols['Город'] = [adr.region() for i in range(2000)]
pols['ФИО'] = [person.full_name() for i in range(2000)]
pols['Дата Рождения'] = [random_data(1950,2003) for i in range(2000)]
pols['Количество сделок'] = np.random.randint(0,10,2000)

In [30]:
pols

,Телефон,Почта,Адрес,Город,ФИО,Дата Рождения,Количество сделок
0,+7-(924)-205-08-89,move2025@yahoo.com,Фигурная,Белгородская область,Бьянка Панаева,6.6.1989,5
1,+7-(968)-991-86-01,rec2006@example.org,Черневская,Марий,Авксентий Янов,12.5.1974,9
2,+7-(929)-671-11-19,cleaners1917@yandex.com,Шолохова,Кабардино-Балкария,Ириней Гарасимов,19.10.1954,4
3,+7-(924)-018-58-14,promotes2043@protonmail.com,Порядковая,Амурская область,Фока Сегень,24.2.1960,1
4,+7-(926)-008-88-48,unavailable1984@example.com,Норильская,Камчатский край,Назар Добролюбов,12.9.1986,5
...,...,...,...,...,...,...,...
1995,+7-(909)-736-06-67,galleries1909@yandex.com,Сокольнического Круга,Марий,Ефим Топчиев,2.4.1971,2
1996,+7-(922)-276-65-21,reply1918@example.org,Адмирала Макарова,Саха,Евсей Сапронов,3.1.1991,4
1997,+7-(921)-319-10-33,weeks2093@example.com,Авиационная,Хабаровский край,Архипп Коржавин,4.8.1950,3
1998,+7-(999)-210-10-31,whereas1983@duck.com,Яузская,Иркутская область,Перизат Парфенчикова,29.4.1953,7
1999,+7-(931)-191-63-98,tries1832@yandex.com,Оборонная,Северная Осетия,Иннокентий Литвинов,3.11.1976,7

In [31]:
award_pols = pd.DataFrame()
award_pols['Оценщик'] = np.random.randint(1,2001,2000)
award_pols['Оцениваемый'] = np.random.randint(1,2001,2000)
award_pols['Оценка'] = np.random.randint(0,5,2000)

In [32]:
['Здравствуйте','Вы свободны в', 'Я занят', 'Я уже продал свой', 'Можно скидку в','Нет', 'До свидания', 'Я хочу купить', 'Вам удобно встретиться на улице']

['Здравствуйте',
 'Вы свободны в',
 'Я занят',
 'Я уже продал свой',
 'Можно скидку в',
 'Нет',
 'До свидания',
 'Я хочу купить',
 'Вам удобно встретиться на улице']

In [33]:
mes = []
a = list(c1['make'][::100])
for i in range(600):
    mes.append(f'Вам удобно встретиться на улице {adr.street_name()} ?')
for i in range(400):
    mes.append(f'Я уже продал свой {a[i]}')
for i in range(400):
    mes.append(f'Я хочу купить ваш {a[i]}')
for i in range(1,90):
    mes.append(f'Можно скидку в {i} %')
for i in range(300):
    mes.append('До свидания')
for i in range(300):
    mes.append('Здравствуйте')
for i in range(500):
    mes.append(f'Вы свободны в {np.random.randint(0,24)} ?')
for i in range(400):
    mes.append('Я занят')

In [34]:
mesage = pd.DataFrame()
mesage['Сообщение'] = mes
mesage['Дата'] = [random_data(2007,2023) for i in range(2989)]

In [35]:
mesage['Отправитель'] = np.random.randint(1,2001,2989)
mesage['Получатель'] = np.random.randint(1,2001,2989)

In [36]:
izbr = pd.DataFrame()
izbr['id объявления'] = np.random.randint(1,3001,1000)
izbr['id пользователя'] = np.random.randint(1,2001,1000)

In [41]:
history_price = pd.DataFrame()
hp = []
hy = []
hi = []
for i in range(0,884):
    year = make_model['year'][i]
    pri = np.random.randint(100000,10000000)
    st = 0.1*pri
    for j in range(1,6):
        hi.append(i+1)
        hy.append(year-j)
        hp.append(pri-j*st)

In [42]:
history_price['Id_Марка ТС'] = hi
history_price['Год'] = hy
history_price['Ср цена'] = hp

In [43]:
make_model['make'] +' '+ make_model['model']

0                  BMW 316
1          Volkswagen Golf
2                SEAT Exeo
3           Renault Megane
4              Peugeot 308
              ...
879    Mercedes-Benz S 260
880             Kia e-Niro
881            Alpine A110
882                BMW iX3
883           Nissan NV250
Length: 884, dtype: object

In [46]:
hist_search = pd.DataFrame()
ase = []
ain = []
for i in range(1,3001):
    ase.append((make_model['make'] +' '+ make_model['model'])[np.random.randint(0,884)])
    ain.append(np.random.randint(1,2001))

In [47]:
hist_search['История поиска'] = ase
hist_search['id пользователя'] = ain

In [48]:
izbr = pd.DataFrame()
izbr['id объявления'] = [np.random.randint(1,3001) for i in range(6000)]
izbr['id пользователя'] = [np.random.randint(1,2001) for i in range(6000)]

In [49]:
obiav = pd.DataFrame()

In [50]:
obiav['id владельца'] = [np.random.randint(1,2001) for i in range(3000)]
obiav['Количество просмотров'] = [np.random.randint(0,1000) for i in range(3000)]
obiav['Дата'] = [random_data(2018,2022) for i in range(3000)]

In [51]:
obiav['Цена'] = [np.random.randint(100000,100000000) for i in range(3000)]

# Pesok

In [52]:
obiav#Оъявление
mesage#сообщение
izbr
pols#Пользователи
awards#Оценки Марки
award_pols
hist_search
vlad#Количество влад
make_model#Марка ТС
razg#Разгон
god#Год выпуска
rashod#Расход 
kuzov#Кузов
dvig#Двигатель
privod#Привод
color#Цвет
review#Плюсы и минусы
history_price#История цены
hist_search# Istoria poiska
option_perehod,option# option




#TC

NameError: name 'option_perehod' is not defined

In [53]:
option = pd.DataFrame()
option['Название опции'] = ('Подогрев сидений,Подогрев руля,Подогрев лобового и заднего стекла, форсунок стеклоомывателя, боковых зеркал,Адаптивный круиз контроль,Система стабилизации курсовой устойчивости или динамической стабилизации ESP,Мультимедийная система,Парктроник, камера заднего вида,Электрорегулировка,Бесключевой доступ,LED-освещение,Климат контроль,другоу').split(',')

In [54]:
option_perehod = pd.DataFrame()

In [55]:
option_perehod['id ТС'] = [np.random.randint(1,3001) for i in range(4000)]
option_perehod['id опции'] = [np.random.randint(1,15) for i in range(4000)]

In [56]:
option_perehod = option_perehod.drop_duplicates()

In [57]:


pols = pols[['ФИО','Телефон','Адрес','Почта','Количество сделок','Дата Рождения']]
#pols.drop(['Дата рождения'],axis = 1,inplace = True)

In [75]:
pols['Дата Рождения'] = [random_data(1950,2003) for i in range(2000)]

/var/folders/4c/gl255b9x76z020j9qvyqkbc00000gn/T/ipykernel_6539/1842811865.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pols['Дата Рождения'] = [random_data(1950,2003) for i in range(2000)]

In [76]:
def conv_time(x):
    ar = x.split('.')
    ret = ''
    if int(ar[0])>9:
        ret = ret+ar[0]
    else:
        ret = ret+'0'+ar[0]
    ret = '-'+ret
    if int(ar[1])>9:
        ret = ar[1]+ret
    else:
        ret = '0'+ar[1]+ret
    return ar[2]+'-'+ret

In [77]:
conv_time('3.1.1976')

'1976-01-03'

In [78]:
pols['Дата Рождения'] = pols['Дата Рождения'].apply(conv_time)

/var/folders/4c/gl255b9x76z020j9qvyqkbc00000gn/T/ipykernel_6539/4152608575.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pols['Дата Рождения'] = pols['Дата Рождения'].apply(conv_time)

In [80]:
pols.to_csv('./DBS/Пользователь.csv',index=False)